<link rel="stylesheet" href="/css/navbar/navbar.css">

<nav class="navbar">
    <ul>
       <div class="header--Logo">
            <i class="fa-solid fa-hand-holding-droplet"></i>
            <li><a href="#" class="title">HabiTree</a></li>
       </div>


       <div class="content--navbar">
           <li class="navbar-item">
            <a href="/leagues" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-user-group navbar--icon"></i>Leagues
            </a>
           </li>
           <li class="navbar-item">
            <a href="/quizzes" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-circle-question navbar--icon"></i>Quizzes
            </a>
           </li>
           <li class="navbar-item">
            <a href="/notifications" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-bell navbar--icon"></i>Notifications
            </a>
           </li>
           <li class="navbar-item">
            <a href="/indicators" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-chart-line navbar--icon"></i>Indicators
            </a>
           </li>
           <li class="navbar-item">
            <a href="/shop" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-cart-shopping navbar--icon"></i>Store
            </a>
           </li>
           <li class="navbar-item">
            <a href="/rewards" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-box-archive navbar--icon"></i>Rewards
            </a>
           </li>
           <li class="navbar-item">
            <a href="/missions" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-bullseye navbar--icon"></i>Missions
            </a>
           </li>
           <li class="navbar-item">
            <a href="/users" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-user navbar--icon"></i>User
            </a>
           </li>
       </div>

       <div class="navbar__logout">
           <li class="navbar-item"><i class="fa-solid fa-right-from-bracket navbar--icon"></i>Logout</li>
       </div>
    </ul>
</nav>