  .navbar{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.065);
    background: var(--color-bg);
    margin: 0;
    margin-bottom: 20px;
  
  }
  .view{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .icons{
    margin-right: 20px;
    color: #fff;
  }

  .navbar h1{
    font-size: 2rem;

  }
  .navbar .icon-container{
      width: 58px;
      height: 58px;
      background-color: var(--color-bg-secundario);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 70px;
  }
  .icon-container > i{
    font-size: 1.8rem;
    background: linear-gradient(45deg, var(--color-secundario), var(--color-primario)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /
  }

  .icons a{
    margin: 20px;
    color: #fff;
    font-size: 1.4rem;  
  }
  /* .icons > i{
    font-size: .8rem;
    color: #fff;
  } */