<div class="modal">
    <h2 id="modal-title">Add Notification</h2>
    <form id="form-add-notification" action="/notifications/create" method="POST">
        <!--campo CSRF -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        
        <!-- Campo Título -->
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo" required>
        
        <!-- Campo Mensaje (Description) -->
        <label for="mensaje">Mensaje:</label>
        <input type="text" name="mensaje" id="mensaje" required>
        
        <!-- Campo Canal (readonly) -->
        <label for="canal">Canal:</label>
        <input type="text" name="canal" id="canal" value="general" readonly style="background:#e0ffe0;">
        
        <!-- Campo Category -->
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" required>
        
        <div class="button-container">
            <button id="guardar-btn" type="submit">Add</button>
            <button id="close-btn" type="button" class="close-modal" onclick="closeModal()">Cancel</button>
        </div>
    </form>
</div>