@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}


.content{
    display: flex;
    flex-direction: row;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Instrument Sans', sans-serif;
    background-color: #f4f7f2;
}


.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 100vh;
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: flex-start;
    border-right: 2px solid #d9d9d9;
    box-sizing: border-box;
}
.Dashboard_content {
    flex-basis: 70%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar li {
    list-style: none;
}



.header--Logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #0b2f1f;
    font-size: 24px;
    gap: 10px;
  
}


.title {
    color: #0b2f1f;
    font-size: 32px;
    text-decoration: none;
    font-weight: bold;
    
}



.navbar-item{
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight:500;
    cursor: pointer;
}

.navbar-item.selected{
    background-color: #2DA460;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    margin: -12px -16px;
    transition: background-color 0.3s ease;
}


.content--navbar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: flex-start;
    padding-left: 50px;
}

.navbar__logout{
    margin-top: 120px;
    width: 100%;
    align-items: flex-start;
    padding-left: 30px;
    padding-left: 50px;
}


.Dashboard__title{

    margin-top: 10px;
    font-size: 32px;
    padding: 20px;
    width: 100%;
    color: #0b2f1f;
}


.Dashboard__gridContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    min-height: 0;
    height: 70%;
    justify-items: center;
    align-items: center;
}

.Dashboard__gridItem{
    border: 2px solid #0b2f1f;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    transition: all 0.3s ease;
}

.Dashboard__gridItem:hover {
    border: 2px solid #2DA460;
    cursor: pointer;
}

.Dashboard__gridItemIcon__text{
    margin-top: 8px;
    font-size: 14px;
    color: #626262;
    margin-bottom: 50px;

   
}

.Dashboard__gridItemIcon{
    background-color: #2ecc702a;
    border-radius: 8px;
    padding: 12px;
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
i{

    font-size: 32px;
    margin-bottom: 10px;
   
}

.navbar--icon {
    margin-right: 8px;
    font-size: 18px;
    color:#0b2f1f ;
}

.Dashboard__gridItemIcon__icon{
    color: #2DA460;
    font-size: 24px;
    margin-top: 12px;
}


.Dashboard-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Dashboard__add{
    display: flex;
    align-items: center;
}


.Dashboard__addButton{
    width: 120px;
    background-color: #2DA460;
    color: white;
    text-align: center;;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.Item_content{
    border: 2px solid #0b2f1f;
    height: 100vh;
    margin: 20px;
    border-radius: 16px;
    overflow-y: auto;
}

.Item_content::-webkit-scrollbar {
    width: 8px;
}

.Item_content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.Item_content::-webkit-scrollbar-thumb {
    background: #2DA460;
    border-radius: 10px;
}

.Item_content::-webkit-scrollbar-thumb:hover {
    background: #228B47;
}


.Grid_Items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px 20px;
    padding: 42px 20px;
    min-height: 0;
    height: 70%;
    
}

.Card__Item{
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
}

.Card__Item:hover{
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.31);
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    transition: all 0.3s ease;
}

.Card__Item--image{
    width: 200px;
    border-radius: 16px;
    margin-bottom: 16px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);

}


.Card__Item--title{
    margin-top: 90px;
    font-size: 40px;
    font-weight: bold;
    color: #0b2f1f;
    margin-bottom: 8px;
    text-align: center;
}

.Card__Item--description{
    font-size: 16px;
    color: #000000;
    margin-bottom: 16px;
    text-align: center;
}

.Item_Quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.Card__Item--price{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.Card__Item--buyButton{
    display: flex;
    margin-top: 20px;
    background-color: #2DA460;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
}

.Card__Item--buyButton:hover{
    background-color: #228B47;
}

.fa-pencil{
    font-size: 24px;
    margin: 2px;
}


.navbar-item__selected{
    box-sizing: border-box;
    display: flex;
    width: 140px;
    align-items: center;
    background-color: #2DA460;
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    gap: 6px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}





.navbar-item__selected .navbar--icon{
    color: white;
    margin: 0;
    
}