<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href ="/css/users.css">
    <title>Shop</title>
</head>


<body>
    <div class="content">
        <%- include('../partials/navbar') %>

    <div class="Dashboard_content">
        <div class = "Dashboard__title-container">
            <h1 class="Dashboard__title">Shop</h1>
            <div class="container__button">
                <button id= "openModal" class="instrument-sans-bold header__button">Add</button>
            </div>
        </div>
        
        <div class="modal" id="modal">
            <div class="modal-inner">
                <nav>            
                    <button id="closeModal" class="fa fa-times"></button>
                </nav>
                <h1 class ="modal-title">Add Item</h1>
                <form action="/shop" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div id="form-message" style="display:none;"></div>

                    <section class="inputs-row">
                        <div class="input-container">
                            <label for="name">Item Name:</label>
                            <input class="smallInput" type="text" id="name" name="name" placeholder="Hat" required>
                        </div>
                        <div class="input-container">
                            <label for="state">State</label>
                            <select id="state" name="state" required>
                                <option value="1">Available</option>
                                <option value="0">Unavailable</option>
                            </select>
                        </div>
                    </section>

                    <section class="inputs-row">
                        <div class="input-container">
                            <label for="price">Price:</label>
                            <input class="smallInput" type="number" id="price" name="price" placeholder="100" required>
                        </div>
                        <div class="input-container">
                            <label for="category">Category</label>
                            <input class="smallInput" type="text" id="category" name="category" placeholder="Skin" required>
                        </div>
                    </section>

                    <section>
                        <label for="file">Select files</label>
                        <input id="file" name="file" type="file" multiple />
                    </section>

                    <button type="submit" class="submit-btn">Add</button>
                    <button type="submit" class="submit-btn" id="edit-btn" style="display:none;">Edit</button>
                </form>  
            </div>
        </div>
        <script src ="/js/shop/shop.js"></script>
    </div>
</body>
</html>