<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Leagues</title>
    <link rel="stylesheet" href ="/css/leagues/leagues.css">
    
</head>
</head>
<body>
    <div class="content">
    <%- include('../partials/navbar') %>

        <div class="Dashboard_content">
            <div class="Dashboard__title-container">
                <h1 class="Dashboard__title">Leagues</h1>
                <div class="container__button">
                    <button class="instrument-sans-bold header__button">Add League</button>
                </div>
            </div>

            
        </div>
    </div>

    <div id="modal-root"></div>

    <div id="backdrop" class="backdrop"></div>
    <script src="/js/leagues/addLeague.js" defer></script>