<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href ="/css/missions/missions.css">
    <title>Ranking</title>
</head>


<body>
    <div class="content">
        <%- include('../partials/navbar') %>

    <div class="Dashboard_content">
        <div class = "Dashboard__title-container">
            <h1 class="Dashboard__title">Ranking</h1>
        <div class="container__button">
            <button id= "openModal" class="instrument-sans-bold header__button">Add</button>
        </div>
    </div>

    <div class="table-container instrument-sans-regular">
        <table>
            <thead>
                <tr>
                    <th>IDRanking</th>
                    <th>IDTree</th>
                    <th>League</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                                <% if (leagues && leagues[0] && leagues[0][0] && leagues[0][0].IDRanking) { %>
                                    <% leagues[0].forEach(function(league) { %>
                                        <tr>
                                            <td><%= league.IDRanking%></td>
                                            <td><%= league.IDTree%></td>
                                            <td><%= league.league %></td>
                                            <td class="actions"><button class="table__button">Manage</button></td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6" style="text-align:center;">No notifications available</td>
                                    </tr>
                                <% } %>
            </tbody>
        </table>
    </div>
    


    <script src ="/js/missions/missions.js"></script>
</body>
</html>